PORT=8000
MONGO_DB_URL=
COMPANY_URL=https://internship.cse.hcmut.edu.vn/home/company/all?t=1772522364658&condition=
JOB_URL=https://internship.cse.hcmut.edu.vn/home/company/id/
BASE_URL=https://internship.cse.hcmut.edu.vn
GEMINI_MODEL=
GEMINI_KEY=