PORT=8000

MONGO_USERNAME=yourUsername
MONGO_PASSWORD=your_password
MONGO_DB_NAME=internjob

# Use this when running NestJS locally with Docker MongoDB:
MONGO_DB_URL=mongodb://yourUsername:your_password@localhost:27017/internjob?authSource=admin

# Use this when running NestJS inside Docker container:
# MONGO_DB_URL=mongodb://yourUsername:your_password@mongodb:27017/internjob?authSource=admin

COMPANY_URL=https://internship.cse.hcmut.edu.vn/home/company/all?t=1772522364658&condition=
JOB_URL=https://internship.cse.hcmut.edu.vn/home/company/id/
BASE_URL=https://internship.cse.hcmut.edu.vn

GEMINI_MODEL=gemini-3.1-flash-lite-preview
GEMINI_KEY=